<% include partials/header %>

<div class='container-fluid'>
    <header class="jumbotron">
        <div class="container">
            <h1>Northcoders for Life!</h1>
                <p>Straight noding and coding</p>
        </div>
    </header>


<h1>Welcome to Northcoders News</h1>

<a href='/api/topics'>View All Topics</a>

<% include partials/footer %>